include *.txt README.md
recursive-include csrc *.cpp *.h *.cu *.tr *.cuh *.cc *.txt
recursive-include include *.cpp *.h *.cu *.tr *.cuh *.cc *.txt
recursive-include 3rd *.cpp *.h *.cu *.tr *.cuh *.cc *.txt